build/
build.grandle
*.iml
proguard-rules.pro

src/androidTest/
src/main/AndroidManifest.xml
src/main/java/com/jayson/RDHCipher/
src/main/java/com/jayson/secretcamera/
src/main/java/com/jayson/utils/BitInputStream.java
src/main/java/com/jayson/utils/ThreadPool.java
src/main/res/
